
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <h2 class="section-title">Giới thiệu</h2>
        <div class="container">
            <p style="font-size:18px; margin-bottom:20px; text-align: justify;"><b>U Store </b> là <b>đối tác trực tiếp</b> của các nhãn hàng và những nhà phân phối uy tín, lớn tại Việt Nam </p>
        </div>
        <div class="row" id="about">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/uytin.png" style="width:250px;height:250px" alt="">
                    <h3>Hàng chính hãng</h3>
                    <hr />
                    <p>Cam kết bán hàng chính hãng với đầy đủ giấy tờ, hoá đơn, chứng nhận.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/baohanh.png" style="width:250px;height:250px" alt="">
                    <h3>Bảo hành</h3>
                    <hr />
                    <p>Dịch vụ bảo hành lâu dài, chính sách đổi mới miễn phí sản phẫm lỗi lên tới 30 ngày.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/freeshipping.png" style="width:250px;height:250px" alt="">
                    <h3>Miễn phí giao hàng</h3>
                    <hr />
                    <p>Giao hàng miễn phí, nhanh chóng đến địa chỉ khách hàng</p>
                </div>
            </div>
        </div>
    </div>

</body>
